<legend><?php echo __('Edit Setting'); ?></legend>
<div class="edit">
    <article class="col-sm-9">
        <div class="Users form">
            <?php
            echo $this->Form->create('Setting');
            echo "<h4><font>Name : ".$settings['Setting']['name']."</font></h4>";
            echo $this->Form->input('value');
            echo $this->Form->end('Save');
            ?>
        </div>
    </article>
</div>