<div class="newsletter">
	    	<div class="container">
	    		<h3>Newsleter Signup</h3>
	    		<div class="form-suscribe">
		    		<input class="inp-suscribe" type="email" name="email" placeholder="Your email" value="" />
		    		<input class="btn-suscribe" type="submit" name="suscribe" value="SUSCRIBE" />
	    		</div>
	    		<div class="list-item">
	    			<a href="#"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
	    			<a href="#"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
	    			<a href="#"><i class="fa fa-youtube-play fa-fw" aria-hidden="true"></i></a>
	    			<a href="#"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
	    		</div>
    		</div>
</div>