<div class="faqadd">
	
    <h3>Add faq</h3>
    <?php
    echo $this->Form->create('Faq');
    echo $this->Form->input('question');
    echo $this->Form->input('answer', array('rows' => '3'));
    echo $this->Form->end('Save');
    ?>
</div>