<div class="content faqedit">
<h3>Edit FAQ</h3>
<?php
echo $this->Form->create('Faq');
echo $this->Form->input('question');
echo $this->Form->input('answer');
echo $this->Form->input('id', array('type' => 'hidden'));
echo $this->Form->end('Save');
?>
</div>