<div class="container content">
		<div class="productadd">
			<dl>
                            <dt><h3><?php echo __('Name:'); ?></h3></dt>
				<dd>
                                    <h3><b><?php echo $categories['Category']['name']; ?></b></h3>
					&nbsp;
				</dd>
				<dt><?php echo __('Image :'); ?></dt>
				<dd>
					<?php echo $this->Html->image("../images/".$categories['Category']['image'],array('height'=>'50px')); ?>
					&nbsp;
				</dd>
                                <dt><?php echo __('Infomation :'); ?></dt>
				<dd>
					<?php echo $categories['Category']['info']; ?>
					&nbsp;
				</dd>
                                <dd ><a href="/admin/categories/edit/<?php echo $categories['Category']['id']; ?>" class="edit_view">Edit</a></dd>
			</dl>
		</div>
</div>

