
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome.woff);
}
@font-face {
    font-family: Magneto-Bold;
    src: url(../fonts/Magneto-Bold.woff);
}
body {
  margin: 0;
  padding: 0;
}
#wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
}
/*//////////////////////////////////////  Top
*/
#header {
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 99;
}
/* /////////////////////////////////////  Dashboard
*/
.admin-home{
  margin-top: 2em;
}
.monthly-stats{
  margin-top: 2em;
}

#cover{
  width: 100%;
  min-height: 55px;
  background: #eee;
  font-family: Cambria;
  margin-bottom: 20px;
  font-size: 20px;
}
#cover .col-md-10{
  padding-left:16.6666%;
}
#cover .col-md-10 h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #ca8b5a;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
}
.top-right {
  height: 55px;
  display: block;
  float: left;
  text-align: center;
  padding: 0;
} 
.btn-admin-ctrl{
  float: right;
}
.admin-ctrl{
/*  border-left: 1px dotted #1a2b3c;
  border-right: 1px dotted #1a2b3c;*/
  float: left;
  line-height: 55px;
  height: 55px;
  padding: 0 10px;
  margin-right: 1em;
  background: #ddd;
}
.admin-ctrl:hover{
  background: #fff;
  border: 1px solid #aaa;
}
.admin-ctrl p{
  margin-right: 0.5em;
  float: left;
  line-height: 55px;
}
.admin-ctrl h3{
  color: #ca8b5a;
  display: inline-block;
  float: left;
}
.error-message{
  color: red;
  padding: 5px 0 10px 5px;
  font-weight: 100;
}

#logo {
  width: 100%;
  float: left;
  /*margin-left: 2.5em;*/
  height: 55px;
  border-right: 1px dotted #1a2b3c;
  background: #eee;
  text-align: center;
}

#logo:hover {
  background: #fff;
  border: 1px solid #aaa;
}

a.logo {
  width: 100%;
  line-height: 55px;
  position: relative;
  margin: 0 auto;
}
.logo p {
  text-transform: capitalize;
  line-height: 55px;
  font-family: 'Magneto-Bold';
  font-size: 35px;
  color: #ca8b5a;
  float: left;
  width: 100%;
}

.logo span {
  height: 13px;
  width: 13px;
  background: #ca8b5a;
  display: block;
  margin-top: 12px;
  margin-left: 190px;
}

#controls {
  padding: 0 1em;
  width: 100%;
  height: 45px;
  background: #eee;
  display: inline-block;
  line-height: 45px;
  margin-top: 20px;
  color: #337ab7;
}
#controls .span3 {
  border: none;
  height: 41px;
  width: 100%;
  margin:2px 0;
}
.view .input select {
  height: 31px;
  padding: 0 5px;
}
#controls .add {
  height: 45px;
  text-align: right;
  margin-right: 15px;
}
#controls .add .addButton a {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -36px;
  text-decoration: none;
}
#controls .add .addButton:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#controls .add .addButton:active {
  color: #000;
  border-color: #444;
}
#controls .add .addButton {
  width: 65px;
  text-align: center;
  height: 41px;
  margin: 2px 0;
  color: #6e6e6e;
  text-decoration: none;
  padding: 0px;
  position: relative;
  display: inline-block;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  border: solid 1px #dcdcdc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor:pointer;
}
.view .input {
  float: left;
  font-weight: normal;
}
.view label {
  font-weight: normal;
  margin-right:5px;
}
.view .input:first-child {
  margin-right: 30px;
}
.view .input:last-child {
  float: right;
}
#controls .btn-add {
  background: #eee;
  height: 45px;
  line-height: 45px;
  float: right;
}
#flashMessage {
    display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0px;
    color: red;
    border: 1px solid #DED8D8;
    background: #fff;
    padding: 20px 0px;
    border-radius: 5px;
}
.butonLogin {cursor: pointer;}
.logout {
    font-size: 16px;
    font-style: italic;
    color: #fff;
    cursor: pointer;
}
.logout:hover {
    color: #DED8D8;
}
.productadd dl {
  /*clear: both;*/
}
.productadd dl dt {
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 2%;
  margin-bottom: 10px;
  clear: both;
  color: green;
}
.productadd dl dd {
  width: 49%;
  margin-bottom: 10px;
  float: left;
}
.productadd .submit {
  text-align: center;
}
#coppyright {
  clear: both;
  width: 100%;
  height: 60px;
  background: #eee;
  color: #777;
  text-align: center;
  bottom: 0;
  margin-top: 2em;
  z-index: 999;
  position: relative;
}
#coppyright span { 
  text-transform: capitalize;
  line-height: 60px;
}
#content {
min-height: 711px;
}
.col-md-2 {
  padding: 0;
}
#left {
  position: fixed;
  background: #1c2b3d;
  width: 16%;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
.menu-admin {
  width: 100%;
  height: auto;
  padding: 2em 1em;
}
.menu-admin ul {
  list-style: none;
  padding-left: 30px;
  margin-top: 55px;
}
.menu-admin ul li {
  z-index: 999;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.menu-admin ul li a:hover{
  /*text-shadow: 2px 2px #000;*/
  text-decoration: underline;
}
.menu-admin ul li:hover i.fa{
  /*text-shadow: 2px 2px #000;*/
  text-decoration: underline;
}
.menu-admin ul li a,
.menu-admin ul li i {
  color: #fff;
}
.menu-admin ul li i {
  margin-right: 1em;
}
.menu-admin ul li a{
  font-family: 'Montserrat-Regular';
  z-index: 99;
}
#content .col-md-10 {
  position: relative;
  top: 55px;
  margin-bottom: 8em;
}
td.actions a{
  padding: 2px 5px;
  background: #337ab7;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
}
form input[type="text"],
form input[type="checkbox"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="password"],
form textarea {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: .95em;
    margin: 6px 0 12px 0;
    padding: .8em .55em;    
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    width: 70%;
}
     
form input[type="text"]:focus,
form input[type="checkbox"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus { 
  border-color: #4195fc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
}
     
form input[type="text"]:invalid:focus,
form input[type="checkbox"]:invalid:focus,
form input[type="email"]:invalid:focus,
form input[type="number"]:invalid:focus,
form input[type="search"]:invalid:focus,
form input[type="password"]:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus {
    border-color: rgb(248,66,66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
}
form input[type="submit"],
form button[type="reset"]{
    background-color: #db9b68;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease; 
}
form input[type="submit"]:hover,
form button[type="reset"]:hover {
    background-color: #1bc5b3;
    cursor: pointer;
}
form button[type="reset"]{
    margin-left: 40%;
    margin-right: 15px;
}
.productadd .submit{
    display: inline;
}
.table .value {
    width: 40%;
}
.edit {
   padding: 10px 178px; 
}
#footer{
    /*margin-top: 100px;*/
    padding-top: 143px;
}
/*______________________________________________________ STATS*/

.stats-today {
  height: 100px;
  background: #fff;
  color: #fff;
}
.stats- {
  width: 22%;
  background: #ccc;
  height: 100%;
  float: left;
  margin-right: 4%;
  /*padding: 0 2%;*/
  border: 1px solid #F5F1F1;
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.stats-today-visitors{
  background: #999;
}
.stats-today-users{
  background: #4F52BA;
}
.stats-today-oders{
  background: #0aa;
}
.stats-:last-child {
  margin-right: 0;
  background: #e94e02;
}
.stats- h3 {
  text-transform: capitalize;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
}
.stats- h4 {
  margin-top: 10px;
  margin-bottom: 2px;
  float: left;
  width: 100%;
  text-align: center;
}
.stats- h4:last-child {
  margin-top: 0;
}
/*______________________________________________________ STATS END
/*#ProductPrice,
#ProductExpiry,
#ProductSaleOff{
    width: 15%;
}*/
.edit .input.number
{
    width: 26%;
    display: inline-block;
}
.edit .submit{
    padding-bottom: 100px;
}
.productadd .edit_view{
    background-color: #db9b68;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
    margin-left: 73%;
    text-decoration: none;
}
.productadd .edit_view:hover{
    background-color: #1bc5b3;
    cursor: pointer;
    text-decoration: none;
}
/* Dropdown*/
.dropdown {
    z-index: 999;
    position: relative;
    display: inline-block;
}
.acc-down p a:hover {
    color: #fff;
    text-decoration: underline;
}
/*.acc-down p a{
    font-size: 20px;
}*/
.acc-down p {
    color: #aaa;
    display: block;
    line-height: 26px;
    padding-left: 10px;
    float: left;
}
.acc-down {
    /*margin-left: 18px;*/
    /*margin-top: px;*/
    transition: all 5s ease-out;
    display: none;
    position: absolute;
    background-color: #aaa;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .acc-down {
    display: block;
}

.acc-down:hover {
    display: block;
}
/* end dropdown*/
.table .pro>tr>th,
.table .pro>tr>td{
  border-top: 0; 
}
/* Login
*/
div.overlay {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 999;
}

div.overlay > div.login-wrapper {
    align: center;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 2px;
    padding: 6px;
    width: 590px;
    height: 370px;
}

div.overlay > div.login-wrapper > div.login-content {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}

div.overlay > div.login-wrapper > div.login-content > h3 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;
}
.login-content label{
    display: inline;
}
.login-content form input[type="checkbox"]{
    display:inline ;
    width: 4%;
}