<div class="container content">
		<div class="productadd">
			<dl>
                            <dt><h3><?php echo __('UserName:'); ?></h3></dt>
				<dd>
                                    <h3><b><?php echo $reviews['User']['username']; ?></b></h3>
					&nbsp;
				</dd>
                                <dt><h3><?php echo __('Product :'); ?></h3></dt>
				<dd>
                                    <h3><b><?php echo ($reviews['Product']['name']); ?></b></h3>
					&nbsp;
				</dd>
                                <dt><?php echo __('Review :'); ?></dt>
				<dd>
					<?php  echo $reviews['Review']['review']; ?>
					&nbsp;
				</dd>
                                <dd ><a href="/admin/reviews/edit/<?php echo $reviews['Review']['id']; ?>" class="edit_view">Edit</a></dd>
                                
			</dl>
		</div>
</div>


