<div class="container content">
		<div class="productadd">
			<dl>
                            <dt><h3><?php echo __('Question :'); ?></h3> </dt>
				<dd>
                                    <h3><b><?php echo $faqs['Faq']['question']; ?></b></h3>
					&nbsp;
				</dd>
				<dt><?php echo __('Answer :'); ?></dt>
				<dd>
					<?php echo $faqs['Faq']['answer']; ?>
					&nbsp;
				</dd>
                                <dd ><a href="/admin/faqs/edit/<?php echo $faqs['Faq']['id']; ?>" class="edit_view">Edit</a></dd>
			</dl>
		</div>
</div>

