            <h3>Edit Group</h3>
<div class="edit">
    <article class="col-sm-9">
        <div class="Users form">
            <?php
            echo $this->Form->create('Group');
            echo $this->Form->input('name');
            echo $this->Form->input('description');
            echo $this->Form->end('Save');
            ?>
        </div>
    </article>

</div>